manifest {
  homePage = 'http://github.com/edgano/mBed-nf'
    description = 'Hacked mBed to get distance between seeds and sequences'
    mainScript = 'main.nf'
}

process {
    container = 'edgano/mbed'
} 

//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {
    crg { includeConfig 'configs/loc_crg.config' }
}

