manifest {
  homePage = 'http://github.com/edgano/mBed-nf'
    description = 'Hacked mBed to get distance between seeds and sequences'
    mainScript = 'main.nf'
}

process {
    //container = 'file:///home/edgar/mBed_hack/work/singularity/edgano-mBed-nf.img'
    container ='shub://edgano/mBed-nf'	
} 

//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {
    crg { includeConfig 'configs/loc_crg.config' }
}
